<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Example</title>
    <style>
        /* Basic styling for the menu */
        nav {
            background-color: #333;
            padding: 5px;
        }
        nav a {
            color: white;

            padding: 5px 5px;
            text-decoration: none;
            display: inline-block;
        }
        nav a:hover {
            background-color: #575757;
        }
        nav a c1 a:hover {
            background-color: #575757;
        }
    </style>
</head>
<body>

    <nav>
    <a href="index.html" class="c1">Home</a>
    <a href="checkout.html">Checkout</a>
    <a href="Shopping_car.html">Cars</a>

</nav>
</body>
</html>